<!DOCTYPE html>
<html>
 <head>
 
	 <link rel="stylesheet"  type="text/css" href="StyleM.css"> 
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	 <script src="ScriptM.js"></script>
 
 <title>Mineral quiz</title>
 
 </head>
 
 <body>
   <h1>Minerals</h1>
   
   <!--question 1-->
   <p id="q1">
    What is one of the most common minerals in the world?
   </p>
   
   <p id="a">
    Quartz
   </p>
   
   <p id="b">
    Granite
   </p>
   
   <p id="c">
    Emerald
   </p>
   
   <p id="d">
    Brockite
   </p>
   
   <p id="next">
   	Next
   	</p>
   	
   	<p id=ani>
   		Correct!
   	</p>
   
   
  <!--added image-->
  <!--add image with minerals-->
  <!--img src= "\unamed.jpg" alt= "Jeremy Knight"-->
  <!--img src="unnamed.jpg" alt="Jeremy Knight"-->
 </body>
 
</html>
