{% extends "layout.html" %}
{% block title %}Mineral Quiz{% endblock %}
{% block content %}

    <p id="q3">
     A mineral fizzes when a weak acid is dropped on it, the mineral is probably
   </p>
   
   <h1>Question 3</h1>
 <form action="/q4"method = "POST">
  Answer:<br>

   <!--question 1-->

   <input id="a" type="radio" name="c" value="Halite" > Halite<br>
   <input id="b" type="radio" name="c" value="Magnetite" > Magnetite<br>
   <input id="c" type="radio" name="c" value="Calcite" > Calcite<br>
   <input id="d" type="radio" name="c" value="Quartz" > Quartz<br>  
   <input type="submit">
 </form> 
   

{% endblock %}