{% extends "layout.html" %}
{% block title %}Mineral Quiz{% endblock %}
{% block content %}

   <p id="q5">
    Hardness is a property that helps identify minerals. Scientists use a scale of 1-10 to show the hardness of a mineral. What number would be given to the hardest?
   </p>
   <h1>Question 5</h1>
 <form action="/f1" method = "POST">
  Answer:<br>

 
   

   <input id="a" type="radio" name="e" value="5" > 5<br>
   <input id="b" type="radio" name="e" value="1" > 1<br>
   <input id="c" type="radio" name="e" value="10" > 10<br>
   <input id="d" type="radio" name="e" value="0" > 0<br>
   <input type="submit">
 </form>


{% endblock %}

