{% extends "layout.html" %}
{% block title %}Mineral Quiz{% endblock %}
{% block content %}


   <h1>Question 5</h1>
   
   <!--question 1-->
    <p id="q1">
    Hardness is a property that helps identify minerals. Scientists use a scale of 1-10 to show the hardness of a mineral. What number would be given to the hardest?
   </p>
   
   <p id="a"  input type = "radioButton">
    5
   </p>
   
   <p id="b"  input type = "radioButton">
    1
   </p>
   
   <p id="c"  input type = "radioButton">
    10
   </p>
   
   <p id="d"  input type = "radioButton">
    0
   </p>
   
   <p id="next"  input type = "radioButton">
   	Next
   	</p>
   	
   	<p id="ani" >
   		Correct!
   	</p>
    
<form action={{ url_for("home") }} method = "POST">
  First name:<br>
  <input type="text" name="firstName">
  <br>
  Last name:<br>
  <input type="text" name="lastName">
  <input type="submit" value="Submit">
 </form> 
   
{% endblock %}

