{% extends "layout.html" %}
{% block title %}Mineral Quiz{% endblock %}
{% block content %}


   <h1>Question 1</h1>
   
   <form action={{ url_for("renderQuestion2") }} method = "POST">
  Answer:<br>
  <input type="text" name="A1">
  <input type="submit" value="Submit">

   <!--question 1-->
    <p id="q1">
    What is one of the most common minerals in the world?
   </p>
   <input id="a" type="radio" name="gender" value="Quartz" checked> Quartz<br>
   <input id="b" type="radio" name="gender" value="Granite" checked> Granite<br>
   <input id="c" type="radio" name="gender" value="Emerald" checked> Emerald<br>
   <input id="d" type="radio" name="gender" value="Brockite" checked> Brockite<br>
 </form> 


    

   
{% endblock %}
