{% extends "layout.html" %}
{% block title %}Mineral Quiz{% endblock %}
{% block content %}


   <h1>Question 2</h1>
 <form action={{ url_for("renderQuestion3") }} method = "POST">
  Answer:<br>
  <input type="text" name="A2">
  <input type="submit" value="Submit">
   <!--question 1-->
    <p id="q2">
    Which of the following is considered a special property that applies to only a few minerals?
   </p>
   
   <input id="a" type="radio" name="gender" value="Color" checked> Color<br>
   <input id="b" type="radio" name="gender" value="Luster" checked> Luster<br>
   <input id="c" type="radio" name="gender" value="Steak" checked> Steak<br>
   <input id="d" type="radio" name="gender" value="Magnetism" checked> Magnetism<br>
 </form> 
   

{% endblock %}
