{% extends "layout.html" %}
{% block title %}Mineral Quiz{% endblock %}
{% block content %}


   <h1>Question 1</h1>
   
   <!--question 1-->
    <p id="q1">
    What is one of the most common minerals in the world?
   </p>
   
   <p id="a"  input type = "radioButton">
    Quartz
   </p>
   
   <p id="b"  input type = "radioButton">
    Granite
   </p>
   
   <p id="c"  input type = "radioButton">
    Emerald
   </p>
   
   <p id="d"  input type = "radioButton">
    Brockite
   </p>
   
   <p id="next"  input type = "radioButton">
   	 <li><a href="q2">Next</a></li>
   	</p>
   	
   	<p id="ani" >
   		Correct!
   	</p>
    

   
{% endblock %}
