{% extends "layout.html" %}
{% block title %}Mineral Quiz{% endblock %}
{% block content %}

    <p id="q4">
    Which of the following is is the least hardest based on Moh's test?
   </p>
   <h1>Question 4</h1>
 <form action="/q5" method = "POST">
  Answer:<br>

   	   
   <input id="a" type="radio" name="d" value="Apatite" > Apatite<br>
   <input id="b" type="radio" name="d" value="Talc" > Talc<br>
   <input id="c" type="radio" name="d" value="Gypsum" > Gypsum<br>
   <input id="d" type="radio" name="d" value="Diamond" > Diamond<br>
   <input type="submit">
 </form>  


{% endblock %}

